<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Réglages du compte</title>
  <link rel="stylesheet" href="css/signup.css">
</head>
<body>

<div class="box">
  <div class="form-box">
    <form method="POST" action="">
      <h1>Réglages du compte</h1>

      <input type="text" placeholder="Nom d'utilisateur" name="nom">
      <input type="email" placeholder="Email" name="email">
      <input type="date" name="date_naissance">
      <input type="tel" placeholder="Contact" name="telephone">

      <div class="actions">
        <button type="submit" class="btn-main">Sauvegarder</button>
        <button type="reset" class="btn-simple">Annuler</button>
      </div>
    </form>
  </div>
  <div class="side-box">
    <div class="side">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Photo de profil" class="photo">
      <button class="btn-photo" type="file">Ajouter une photo</button>
      <button class="btn-simple" type="reset">Réinitialiser</button>
      <p class="help-text">Formats : JPG , GIF , PNG . Taille max : 800K .</p>
      <button><a href="info.html" >Informations</a></button>
      <button><a href="changermdp.html" >Changer le mot de passe</a></button>
    </div>
  </div>
</div>

</body>
</html>
