<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>

    <div class="box">
        <div class="form-box">
            <form method="POST" action="">
                <h1>Se connecter</h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Mot de passe">
                <a href="forgetPassword.html" class="mpdoublie">Mot de passe oublié ?</a>
                <button>Se connecter</button>
            </form>
        </div>

        <div class="side-box">
            <div class="side">
                <button><a href="signUp.html">S'inscrire</a></button>
            </div>
        </div>
    </div>

</body>

</html>
